<%=render 'layouts/store_layout'%>
<div class="container">
  <div class="container row">
    <div class="container col-md-4 row">
      <h4> Product bought : </h4>
      <%= pie_chart OrderHistory.group(:name).count %>
    </div>
    <div class="container col-md-4 row">
      <h4> Pending Orders : </h4>
      <%= pie_chart Order.group(:patient_id).count %>
    </div>
    <div class="container col-md-4 row">
      <h4> Payments : </h4>
      <%= pie_chart OrderHistory.where(medical_store_id:1).group(:status).sum(:total)%>
    </div>
  </div>
</div> 
<div class="container" style="margin-top: 50px;">
  <div class="container row">
    <h4> Order Created Date Base : </h4>
    <%= line_chart OrderHistory.group('DATE(created_at)').count %>
  </div>
</div>
