<% if current_user.has_role? :patient %>
  <h2>WELCOME TO PATIENT`S DEASHBORAD</h2>
  <h3>doctor`s inforation</h3>
    <table class = "table" >
      <thead class="thead-dark">
        <tr>
          <td>name</td>
          <td>degree</td>
          <td>specialization</td>
          <td>authorized</td>
          <td>hospital name</td>
          <td>dr id</td> 
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% @doctors.each do |doctor| %>
          <tr>
            <td><%= doctor.name %></td>
            <td><%= doctor.degrees %></td>
            <td><%= doctor.specialization %></td>
            <td><%= doctor.authorized %></td>
            <td><%= doctor.hospital.name %></td>
            <td><%= doctor.id %></td>
            <td><%= link_to 'send message', message_patient_path(doctor, patient_id: current_user.patient.id),
            class: "btn btn-primary  btn-sm" %></td>
            <td><%= link_to 'prescription', prescription_patient_path(doctor, patient_id: current_user.patient.id),
            class: "btn btn-primary  btn-sm" %></td>
            <td><%= link_to 'appoiment', appoiment_patient_path(doctor, patient_id: current_user.patient.id),
            class: "btn btn-primary  btn-sm" %></td>
          </tr>
        <% end %>
      </thead>
    </table>
   <h2>Hospital`s information</h2>
   <table class = "table">
     <tr>
       <td>name</td>
       <td>address</td>
       <td>contact number</td>
       <td>website</td>
     </tr>
     <% @hospitals.each do |hospital| %>
       <tr>
         <td><%= hospital.name %></td>
         <td><%= hospital.address %></td>
         <td><%= hospital.contact_number %></td>
         <td><%= hospital.website %></td>
       </tr>
     <% end %>
  </table>
<% else %>
  <h2>this page is only for patients</h2>
<% end %>
