<!DOCTYPE html>
<html>
  <head>
    <title>Medico</title>
    <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application',media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application',media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag "style" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
  <body>
    <section class="section">
      <div class="content">
         <%= link_to "log out", destroy_user_session_path, method: "delete" %>
        <%= yield %>
      </div>
    </section>
    <script>
    function myFunction() {
      var x = document.getElementById("sidebar");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
</body>
</html>
