<h2><center>Sign up as patient</center></h2>
  <% if @user.errors.any? %>
 <div> <h3> the <%= @user.errors.count %>following errors prevented the article from getting created</h3>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul></div>
<% end %>
<div class="container" style="margin: auto;width: 50%;border: 3px solid green;padding: 10px;text-align: center;">
 
  <%= form_with model: @user, url: user_registration_path, html: {method: :post} do |user_form| %>
    
    <div class="form-group row">
      <%= user_form.label :email %>
      <%= user_form.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <%= user_form.fields_for :patient, @patient  do |form| %>
      <div class="form-group row">
        <%= form.label :Patient_name, class: 'col-sm-4' %>
        <%= form.text_field :name, class: 'col-sm-8' %>
      </div>

      <div class="form-group row">
        <%= form.label :birthday, class: 'col-sm-4' %>
        <%= form.date_field :birthday, class: 'col-sm-8' %>
      </div> 

       <div class="form-group row">
        <%= form.label :gender, class: 'col-sm-4' %>
        <%= form.radio_button :gender, 'male',id: 'male' %> 
        <label for="male">male</label> <br/>
        <%= form.radio_button :gender, 'female',id:'female' %> 
        <label for="female">female</label>
      </div>

      <div class="form-group row">
        <%= form.label :contact_number, class: 'col-sm-4' %>
        <%= form.number_field :contact_number, class: 'col-sm-8' %>
      </div>

      <div class="form-group row">
        <%= form.label :city, class: 'col-sm-4' %>
        <%= form.text_field :city, class: 'col-sm-8' %>
      </div>
    <% end %>
    <div class="form-group row">
      <%= user_form.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= user_form.password_field :password, autocomplete: "new-password" %>
    </div>

   <div class="form-group row">
      <%= user_form.label :password_confirmation %><br />
      <%= user_form.password_field :password_confirmation, autocomplete: "new-password" %>
    </div> 

  
    <div class="actions">
      <%= user_form.submit "Sign up" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
  <%= link_to "Become A Doctor", login_doctors_path %><br/>
  <%= link_to "Become A Medical Store", medical_stores_login_path %><br/>
  <%= link_to "Become A Pathology Lab", pathology_labs_login_path %><br/>
</div>
